@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-300'),
        url('../fonts/MuseoModerno-300.woff2') format('woff2'),
        url('../fonts/MuseoModerno-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-500'),
        url('../fonts/MuseoModerno-500.woff2') format('woff2'),
        url('../fonts/MuseoModerno-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-700'),
        url('../fonts/MuseoModerno-700.woff2') format('woff2'),
        url('../fonts/MuseoModerno-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}