@import "../scss/base/variables";
@import "../scss/base/mixins";
* {
    font-family: "Museo Moderno", sans-serif;
}
html {
    min-width: 320px;
}
.container {
    max-width: 950px;
    width: 85%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-sizing: content-box;
    position: relative;
}
@import "../scss/blocks/promo";
@import "../scss/blocks/header";
@import "../scss/blocks/buttons";
@import "../scss/blocks/titles";
@import "../scss/blocks/advantages";
@import "../scss/blocks/consultation";
@import "../scss/blocks/forms";
@import "../scss/blocks/carousel";
@import "../scss/blocks/catalog";
@import "../scss/blocks/feed";
@import "../scss/blocks/footer";

@import "../scss/base/media";